$breakpoint: 640px;

* {
  box-sizing: border-box;
}

.financial-dashboard__header {
  padding: 20px 0;
  background-color: #e0e0e0;

  h1 {
    text-transform: capitalize;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    font-weight: normal;
    padding: 0 10px;
  }
}
.wallets {
  padding: 10px 15px;
  border-radius: 5px;
}

.wallets-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0 -5px;
}

.wallet-item {
  width: calc(25% - 20px);
  flex-grow: 1;
  margin: 5px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-width: 150px;

  &.--total {
    background-color: #333;
    color: white;
  }

  .name {
    padding: 0;
    margin: 0;
    display: inline-block;
    font-weight: bold;
  }

  .balance {
    padding: 0;
    margin: 0;
    display: inline-block;
    letter-spacing: 0.08em;
  }
}

.add-transaction {
  position: relative;
  padding: 0 15px;
  .header {
    align-items: center;
    h2 {
      font-size: 1.2em;
    }
  }
}


.actions {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  label {
    display: inline-block;
    margin-right: 0.5em;
  }
  input {
    width: 15px;
  }
  .button {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    display: inline-block;
    margin-left: 1em;
    padding: 1em 2em;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background-color: #059;
    color: white;
    cursor: pointer;

    &[disabled] {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  @include upto($breakpoint) {
    
    position: relative;

  }
}

.add-transaction__form {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
  .input-group {
    width: 33%;
    padding: 5px;
    min-width: 150px;
    flex-grow: 1;
    @include upto($breakpoint) {
      width: 100%;
    }
  }
  .--number-signs {
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    padding-bottom: 8px;
    button {
      -webkit-appearance: none;
      appearance: none;
      width: 40px;
      height: 40px;
      display: inline-blok;
      font-size: 30px;
      padding: 0;
      margin: 0;
      margin-right: 5px;
      opacity: 0.5;
      transition: all 0.5s ease;
      border-radius: 5px;
      color: white;
      border: 2px solid;
      line-height: 1;
      &.--active {
        opacity: 1;
      }
      &.--subtract {
        border-color: #cc0033;
        background-color: red;
      }
      &.--add {
        border-color: darkgreen;
        background-color: green;
      }
    }
    & + .input-group {
      max-width: calc(100% - 90px);
      flex-grow: 1;
    }
  }
  fieldset {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}



.wallet-options {
  padding: 0;
  list-style: none;
}
.wallet-option-item {
  display: inline-block;
  margin: 0 0.5em 0.5em 0;
  input[checked=checked] + span {
    background-color: blue;
    color: white
  }
  label {
    margin: 0;
    display: inline-block;
  }
  .name {
    margin: 0;
    padding: 0.5em;
    font-weight: bold;
    width: 100%;
    font-size: 12px;
    border-radius: 5px;
    background-color: #ccc;
    display: inline-block;
    &.--active {
      background-color: blue;
      color: white;
    }
  }
}


.transaction-history {
  padding: 0 15px;
  margin: 0 -5px;
  width: 100%;
  .table__wrapper {
    width: 100%;
    overflow: auto;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    thead {
      background-color: #333;
      color: white;
      th {
        padding: 0.5em 1em;
        text-align: left;
        border-bottom: 1px solid #ccc;
      }
    }
    tbody {
      tr {
        border-bottom: 1px solid #ccc;
        td {
          padding: 0.5em 1em;
          text-align: left;
        }
        p {
          padding: 0;
          margin: 0;
        }
      }
    }
    .date {
      width: 150px;
    }
    .quantity {
      width: 80px;
    }
    .wallet {
      width: 80px;
    }
    .delete {
      .button {
        cursor: pointer;
        appearance: none;
        border: 1px solid #999;
        border-radius: 5px;
        font-size: 16px;
        padding: 0.4em 0.6em;
        margin: 0.5em 0.5em 0.5em 0em;
        &[disabled] {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
      .--delete {
        border-color: rgba(150, 0, 0, 0.5);
        color:rgba(200, 0, 0, 0.8)
      }
    }
  }
}

#graph {
  padding: 0 15px;
}

.graph__header {
  .title {

  }
}

.graph__params {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .input-group {
    width: calc(25% - 20px);
    flex-grow: 1;
    margin: 5px;
    padding: 10px;
    min-width: 150px;
  }
}

.graph__wrapper {
  height: 300px;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  padding: 0.5em;
  margin: 1em 0;
  .graph-balances {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.graph-balance {
  height: 100%;
  width: 10px;
  position: relative;
  padding: 2px 5px;
  &.--today {
    background-color: #eee;
    color: white;
  }
  &:hover {
    .graph-unit-line {
      background-color: blue;
    }
    .date,
    .balance {
      z-index: 1;
      opacity: 1;
    }
  }
  .date,
  .balance {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    background-color: white;
    padding: 0.5em;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid blue;
  }
  .balance {
    transform: translate(-50%, 100%);
  }
  .graph-unit-line {
    border-radius: 5px 5px 2px 2px;
    display: block;
    background-color: green;
    border: 1px solid darkgreen;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    animation : graph-animation 1s ease-in;
  }
}

@keyframes graph-animation {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 100%;
  }
}
.next-transactions {
  padding: 0 15px;
}
.next-transactions-list {
  padding: 0;
  margin: 0;
  list-style: none;
  .next-transaction__wrapper {
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }
  .next-transaction {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.5em;
    width: 100%;
    .content {
      flex-grow: 1;
      width: 50%;
    }
    .next-transaction__actions {
      width: auto;
      white-space: nowrap;
    }
  }
  p {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    display: inline-block;
    margin-right: 0.5em;
  }
  .quantity {
    padding: 0.1em 0.3em;
    border: 1px solid #aaa;
    border-radius: 3px;

    &.--negative {
      border-color: rgba(150, 0, 0, 0.5);
      color:rgba(200, 0, 0, 0.8)
    }
  }
  .notes {
    font-weight: bold;
  }
  .repeats {
    width: 100%;
    font-style: italic;
  }
  .next-transaction__actions {
    .button {
      cursor: pointer;
      appearance: none;
      border: 1px solid #999;
      border-radius: 5px;
      font-size: 16px;
      padding: 0.4em 0.6em;
      margin: 0.5em 0.5em 0.5em 0em;
      &[disabled] {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
    .--delete {
      border-color: rgba(150, 0, 0, 0.5);
      color:rgba(200, 0, 0, 0.8)
    }
    .--create {
      background-color: #059;
      color: white;
      border-color: #038;
    }

  }
}